body {
    height: 100vh;
}

body,
body > .section {
    background-color: #e8e8e8;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1rem;
}

.dz-progress {
    display: none;
}

.dropzone {
    padding: 5px;
}

.dropzone.thumb {
    padding: 0;
}

.dropzone .dz-message {
    margin: 92px 0;
}

.dropzone.thumb .dz-message {
    margin: 52px 0;
}

.dropzone .dz-preview .dz-image {
    width: 200px;
    height: 200px;
}

.dropzone.thumb .dz-preview .dz-image {
    width: 120px;
    height: 120px;
}

.dropzone .dz-preview:hover .dz-image img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-filter: none;
    filter: none;
}

.dropzone .dz-preview .dz-details {
    left: 200px;
    text-align: left;
    padding: 1em;
}

.dropzone.thumb .dz-preview .dz-details {
    left: 120px;
    padding: 0 0.5em 0.5em;
}

.dropzone .dz-preview .dz-details .dz-size {
    font-size: 1.8em;
}

.dropzone.thumb .dz-preview .dz-details .dz-size {
    font-size: 1.4em;
    margin-bottom: 0.65em;
}

.dropzone .dz-preview .dz-details .dz-filename {
    font-size: 1.55em;
}

.dropzone.thumb .dz-preview .dz-details .dz-filename {
    font-size: 1.3em;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: visible;
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    left: 200px;
    bottom: 5px;
    width: 100%;
    text-align: left;
    padding: 0 1em;
    font-size: 1.35em;
}

.dropzone.thumb .dz-preview .dz-remove {
    left: 120px;
    bottom: 0;
    padding: 0 0 0 0.9em;
    font-size: 1em;
}

.dropzone .dz-preview.dz-error .dz-error-message {
    width: 200px;
    text-align: center;
    left: 0;
    top: 170px;
}
.dropzone.thumb .dz-preview.dz-error .dz-error-message {
    width: 140px;
    text-align: center;
    left: -10px;
    top: 120px;
}

.dropzone .dz-preview .dz-error-message:after {
    left: 94px;
}

.dropzone.thumb .dz-preview .dz-error-message:after {
    left: 64px;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone .dz-preview .dz-success-mark {
    left: 248px;
    top: 125px;
}

.dropzone.thumb .dz-preview.dz-error .dz-error-mark,
.dropzone.thumb .dz-preview .dz-success-mark {
    left: 160px;
    top: 87px;
}

.dz-error-mark > svg > g > g {
    fill: red;
}

.dz-success-mark > svg > g > path {
    fill: green;
}

.dropzone.thumb .dz-preview .dz-error-mark svg,
.dropzone.thumb .dz-preview .dz-success-mark svg {
    width: 32px;
    height: 32px;
}

.dz-preview:not(.dz-error) .dz-success-mark,
.dropzone .dz-preview .dz-details {
    opacity: 1;
}

.control > .textarea:not([rows]) {
    min-height: 156px;
}
